<footer class="page-foot">
  <a href="/portfolio"><span>Portfolio</span></a>
  <a href="/about"><span>About</span></a>
  <a href="http://blog.christopherazar.com"><span>Blog</span></a>
  <a href="/resources"><span>Resources</span></a>
  <a href="{{ "/feed.xml" | prepend: site.baseurl }}"><span>RSS</span></a>
  <span>&copy; Azar</span>
</footer>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
type="text/javascript"></script>
<script type="text/javascript">
    var menu = $('.menu-content');
        $(menu).hide();
    $( ".menu" ).click(function() {
        $( ".menu-content" ).slideToggle( 150 );
    });
    window.onload = function() { document.getElementById('menu').style.display = 'none'; };
</script>
<script src="{{ "/js/lightbox.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script>
    lightbox.option({
      'positionFromTop': 200
    })
</script>
