<!doctype html>
<!-- design & development by

 .d8888b.  888              d8b                      d8888
d88P  Y88b 888              Y8P                     d88888
888    888 888                                     d88P888
888        88888b.  888d888 888 .d8888b           d88P 888 88888888  8888b.  888d888
888        888 "88b 888P"   888 88K              d88P  888    d88P      "88b 888P"
888    888 888  888 888     888 "Y8888b.        d88P   888   d88P   .d888888 888
Y88b  d88P 888  888 888     888      X88       d8888888888  d88P    888  888 888
 "Y8888P"  888  888 888     888  88888P'      d88P     888 88888888 "Y888888 888    -->

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
        <meta name="description" content="{{ site.description }}">
        <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    </head>