<header class="page-head">
  <nav>
    <div class="menu" aria-expanded="false">
      <button class="menu-btn" aria-expanded="true" title="Main menu" aria-haspopup="true" role="button" tabindex="0">
        <span class="menu-label">menu</span>
        <span class="burger-bar top-bun"></span>
        <span class="burger-bar"></span>
        <span class="burger-bar bottom-bun"></span>
      </button>

      <div class="menu-content" id="menu">
        <ul>
          <li class="post-links">
            <p class="latest">Latest Posts</p>
            <p><a href="http://blog.christopherazar.com/post/149158082246/design-lessons-from-jenna"  title="Blog post" aria-haspopup="true" role="button" tabindex="1">Design Lessons from Jenna</a></p>
            <p><a href="http://blog.christopherazar.com/post/139084479986/get-started-with-sketch"   title="Blog post" aria-haspopup="true" role="button" tabindex="2">Get started with Sketch</a></p>
            <!-- <p><a href="http://blog.christopherazar.com/post/119948705921/from-new-ways-to-search-and-discover-troves-to-an">Trove Front Page Refresh</a></p> -->
          </li>
          <li class="page-links">
            <a href="/portfolio" class="portfolio"  aria-expanded="true" title="Blog post" aria-haspopup="true" role="button" tabindex="0">Portfolio</a>
            <span class="divider"> </span>
            <a href="/about">About</a>
            <span class="divider"> </span>
            <a href="http://blog.christopherazar.com/">Blog</a>
            <span class="divider"> </span>
            <!-- <a href="/contact">Contact</a>
            <span class="divider">.</span> -->
            <a href="/resources">Resources</a>
          </li>
          <li class="social-links">
            <p>
              <a href="https://twitter.com/reptarazar" target="_blank">twitter</a>
              <a href="http://www.flickr.com/photos/reptarazar/" target="_blank">flickr</a>
              <a href="https://foursquare.com/reptarazar" target="_blank">foursquare</a>
              <a href="../assets/docs/Azar-Resume.pdf" target="_blank">resumé</a>
            </p>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>
