//colorz
$color_0: #fff;
$color_1: #131313;
$color_2: #ddd;
$color_3: #888;
$color_4: #444;
$color_5: rgba(249,249,249,.8);
$color_6: #999;
$color_7: rgba(0,0,0,.25);
$color_8: rgba(0,0,0,.05);
$color_9: #555;
$color_10: #aaa;
$color_11: #252525;
$color_12: #202020;

$color_14: rgba(0,0,0,.5);


$color_17: #1f1f1f;
$color_18: #eee;
$color_19: #ccc;
$color_20: #5d536b;
$color_21: #887f96;
$color_22: #111;
$color_23: #e9e9e9;


// Colors in main.scss

// $tan: #f9ebdc;
// $teal: #09b7aa;
// $orange: #fca659;
// $white: #fff;
// $almostWhite: #f6f6f6;
// $dark: #444;
// $black: #111;

// fonts


$font_0: Merriweather, 'Hoefler Text', Georgia;
$font_1: 'Avenir Next','Avenir',Helvetica,Arial,sans-serif;
$font_2: sans-serif;

//@extend-elements
//original selectors
//.index-wrapper .index-content h2, .index-wrapper .index-content h3
%extend_1 {
    font-family: $font_0;
    color: #FFF;
    max-width: 700px;
}

//original selectors
//ol li, ul li
%extend_2 {
    font-size: 18px;
    font-size: 1.2rem;
    line-height: 1.27778;
    line-height: 1.6em;
}

//original selectors
//.content h2, h1
%extend_3 {
    font-size: 30px;
    font-size: 2rem;
    line-height: 1.53333;
}

.cf {
    zoom: 1;
    &:after {
        content: " ";
        display: table;
        clear: both;
    }
    &:before {
        content: " ";
        display: table;
    }
}
.dark {
    background: $color_1;
    .menu-label {
        color: #ccc !important;
    }
    .burger-bar {
        background-color: #666 !important;
    }
}
.page-foot {
    border-top-color: $color_2;
    margin-bottom: 30px;
    text-align: left;
    clear: both;
    padding-left: 10px;
    padding-right: 10px;
    a {
        color: $color_3!important;
    }

    @media screen and (max-width: 540px) {
        padding-left: 5px;
        padding-right: 5px;
    }

}
.page-foot>span {
    color: $color_3!important;
    float: right;
    text-align: left;
    margin: 0;
}
.type-experiment {
    margin: 40px 0 0;
    //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
    border-radius: 4px;
    animation: fadein 1.5s 1;
}
@media(max-width:620px) {
    article .trove-poster .skeleton {
        padding: 12px 35px;
        margin-bottom: 100px;
    }
}
.index-wrapper {
    .page-head {
        background-color: transparent;
        .menu-btn .burger-bar {
            background-color: $color_4;
        }
    }
    .portrait {
        display: block;
        position: fixed;
        top: 0;
        float: left;
        width: 27%;
        height: 100%;
        //Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: .2s max-height ease-in-out;
        border-right: 10px solid $color_0;
        background: #131313 url("../assets/img/me-lg.jpg") no-repeat center center;
        // Huge screeens
        @media screen and (min-width: 1400px) {
            width: 364px;
			background: #131313 url("../assets/img/me-lg.jpg") no-repeat center center;
        }

        // Really WIDE and short screeens
        @media screen and (max-height: 900px) and (min-width: 376px) {
            background: #131313 url("../assets/img/me-lg.jpg") no-repeat center center;
        }

        // Med screeens
        @media screen and (max-width: 620px) and (min-width: 376px) {
            position: relative;
            background-image: url("../assets/img/me.png");
            height: 260px;
            width: 100%;
            border: none;
            background-size: cover;
        }
        // Small screeens
        @media screen and (max-width: 376px) {
            position: relative;
            background-image: url("../assets/img/me.png");
            height: 170px;
            width: 100%;
            border: none;
            background-size: cover;
        }

    }
    .index-content {
        margin-left: 27%;
        background: $color_1;
        min-height: 100%!important;
        padding: 30px;
        float: left;
        // Huge screeens
        @media screen and (min-width: 1400px) {
            margin-left: 364px;
        }
        .hi {
            text-transform: uppercase;
            font-weight: 600;
            color: $teal;
            display: inline-block;
            margin-top: 500px;
            border-bottom: 2px solid $teal;

            // WIDE and short screeens
            @media screen and (max-height: 900px) and (min-width: 376px) {
                margin-top: 350px;
            }

            // Really WIDE and short screeens
            @media screen and (max-height: 600px) and (min-width: 376px) {
                margin-top: 150px;
            }

            // Small screeens
            @media screen and (max-width: 620px) {
                margin-top: 20px;
            }
        }

        h2 {
            @extend %extend_1;
            font-size: 52px;
            line-height: 52px;
            margin-top: 40px;
            @media screen and (max-width: 620px) {
                margin-top: 10px;
                font-size: 32px;
                line-height: 40px;
                margin: 20px 0 15px;
            }
        }
        h3 {
            @extend %extend_1;
            font-family: Avenir, Lato;
            font-weight: 500;
            font-size: 22px;
            line-height: 32px;
            // margin-top: 1em;
            color: $tan;

			&.top-links {
				margin-top: 1em;
			}

            a {
                color: $tan;
                border-bottom: 3px solid $color_4;
                //Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
                transition: .2s all ease-in-out;
                &:hover {
                    border-bottom-color: $color_10;
                    text-decoration: none;
                    color: $color_0;
                }
                &.ga-text:before {
                    content: 'General Assembly';
                }
            }
            @media screen and (max-width: 620px) {
                margin-top: 15px;
            }
        }
        .projects {
            list-style: none;
            margin-top: 50px;
            max-width: 810px;
            li {
                float: left;
                height: 200px;
                width: 100%;
                margin: 10px 10px 0 0;
                padding: 2px 5px;
                //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
                border-radius: 6px;
                opacity: 1;
                background: $color_8 ("../img/no-image.png") no-repeat 10px 10px;
                text-indent: 25px;
                border: 1px solid $color_17;
                &.first {
                    max-width: 800px;
                }
                &.second {
                    max-width: 395px;
                }
                &.third {
                    max-width: 395px;
                }
                &.fifth {
                    max-width: 260px;
                }
                &.fourth {
                    max-width: 260px;
                }
                &.sixth {
                    max-width: 260px;
                }
            }
        }
        .footer {
            font-size: .85em;
            display: block;
            padding-top: 20px;
            clear: both;
            position: absolute;
            bottom: 20px;
        }
    }
    .index-content>* {
        animation: fadein 1.5s 1;
    }
}
.page-head {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    height: 50px;
    padding: 0;
    top: 0;
    display: block;
    z-index: 2;
    p {
        font-size: 13px;
        font-size: .86667rem;
        line-height: 1.76923;
        color: $color_6;
        display: inline-block;
        padding: 0;
        &.logo {
            width: 100px;
            height: 30px;
            vertical-align: middle;
            margin-left: 20px;
            text-transform: none;
            color: $color_4;
            //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
            box-shadow: 0 1px 0 $color_7;
        }
    }
    .menu-btn {
        float: right;
        position: absolute;
        top: 0;
        right: 6px;
        border: none;
        padding: 8px 11px 11px 58px;
        margin: 6px 0;
        z-index: 2;
        background: transparent no-repeat 0 0;
        //Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: all .2s ease-in-out;
        //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
        border-radius: 3px;
        // outline: 0;
		&:focus {
			transition: none;
			background-color: rgba(0, 0, 0, 0.05);
			// outline: 0;
			.burger-bar {
                background-color: $color_9;
                position: relative;
                &.top-bun {
                    top: -1px;
                }
                &.bottom-bun {
                    bottom: -1px;
                }
            }
		}

        &:hover, &:active {
            background-color: $color_8;
			border: none;
			outline: 0;
            //Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
            transition: all .2s ease-in-out;
            .burger-bar {
                background-color: $color_9;
                position: relative;
                &.top-bun {
                    top: -1px;
                }
                &.bottom-bun {
                    bottom: -1px;
                }
            }
        }
        .menu-label {
            position: absolute;
            right: 40px;
            top: 4px;
            font-size: 13px;
            font-weight: 700;
            letter-spacing: .1em;
            color: $color_10;
            text-transform: uppercase;
        }
        .burger-bar {
            z-index: 6;
            display: block;
            width: 20px;
            height: 3px;
            margin-top: 3px;
            background-color: $color_4;
            //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
            border-radius: 3px;
            //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
            box-shadow: 0 1px 0 $color_7;
            //Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
            transition: all .2s ease-in-out;
        }
    }
    .menu {
        padding: 25px;
        top: 0;
        position: absolute;
        right: 0;
        width: 100%;
    }
    nav {
        .menu-content {
            position: absolute;
            z-index: 1;
            top: 0;
            right: 0;
            width: 100%;
            background-color: #1c1c1c;
            padding: 30px 20px 50px;
            border-bottom: 2px solid #161616;
            display: none;
        }
        ul {
            list-style: none;
            text-align: center;
            margin: 0 auto;
            position: relative;
            li {
                &.post-links {
                    line-height: .8em;
                    p {
                        width: 100%;
                        padding: 0;
                        margin: 0 auto;
                        &.latest {
                            text-transform: uppercase;
                            color: $orange;
                            font-size: 9px;
                            font-size: .6rem;
                            line-height: 2.55556;
                            letter-spacing: 1px;
                            font-weight: 500;
                        }
                    }
                    a {
                        font-size: 15px;
                        font-size: 1rem;
                        line-height: 1.53333;
                        color: $grey;
                    }
                }
                &.page-links {
                    padding: 15px 0 5px;
                    a {
                        //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                        text-shadow: $color_14 0 3px 0;
                        padding: 0 6px;
                        color: $tan;
                        font-size: 27px;
                        font-size: 1.8rem;
                        line-height: 1.7037;
                        font-weight: 500;

                        // Sm screeens
                        @media screen and (max-width: 520px) {
                            width: 100%;
                            display: block;
                            padding: 5px 0 0;
                            font-size: 1.75em;
                        }

                    }
                }
                &.social-links a {
                    padding: 0 5px;
                    color: $teal;
                    font-size: 15px;
                    font-size: 1rem;
                    line-height: 1.53333;
                }
            }
        }
        nav a {
            display: inline-block;
            margin: 0 .5em 0 0;
        }
    }
    .ident {
        font-size: 35px;
        font-size: 2.33333rem;
        line-height: 1.31429;
    }
}
.twitter {
    left: 18em;
    top: .8em;
    right: auto;
}
@media(min-width:2390px) {
    .index-wrapper .index-content {
        border-left: 0 solid #FFF;
    }
}
@media(max-width:620px) {
.index-wrapper .index-content {
        margin-left: 0;
        padding: 0 20px;

        h3 {
            font-size: 16px;
            line-height: 24px;

            a.ga-text:before {
                content: 'GA';
            }
        }
    }

}
@media(max-width:1400px) {
    .index-wrapper .index-content .projects li {
        &.fifth {
            max-width: 800px;
        }
        &.fourth {
            max-width: 800px;
        }
        &.sixth {
            max-width: 800px;
        }
    }
}
.caption {
    font-size: 15px;
    color: $color_3;
}

// About page styles
.profile-pic {
    // todo: optimize this for different sized screens and speeds
    background: #fff url(https://c2.staticflickr.com/9/8756/28351425185_47b62f95a3_k.jpg) center center;
    min-height: 350px;
    width: 100%;
    display: block;
    background-size: cover;

    // huge screeens
    @media screen and (min-width: 1300px) {
        min-height: 650px;
    }
    // big screeens
    @media screen and (min-width: 1200px) {
        min-height: 550px;
    }
    // Med screeens
    @media screen and (max-width: 620px) and (min-width: 376px) {
        min-height: 260px;
    }
    // Small screeens
    @media screen and (max-width: 376px) {
        min-height: 170px;
    }

}

.photo-credit {
    margin-top: -60px;
}

article {
    margin-top: 3em;
    hr {
        width: 50%;
    }
    .portfolio-items {
        list-style: none;
        li {
            float: left;
            margin: 0 0 20px;
            padding: 0;
            width: 100%;
            height: 300px;
            border: 5px solid $color_18;
            //Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
            transition: .2s opacity ease-in-out;
            //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
            border-radius: 2px;
            background-size: cover;
            opacity: .5;
            &:hover {
                border-color: $color_2;
                opacity: 1;
                a {
                    text-decoration: none;
                }
            }
            a {
                width: 100%;
                border: none;
                outline: 0;
                display: block;
                padding-top: 120px;
                height: 290px;
                text-align: center;
                text-transform: uppercase;
                font-weight: 500;
                letter-spacing: .05em;
                font-size: 1.25em;
                color: $color_0;

				&:focus {
					// border-left: 5px solid #2680EB !important;
					// background-color: rgba(0, 0, 0, 0.05) !important;
					// zoom: 120%;
				}
				&:active {
					// border-left: 0;
					// background-color: transparent;
					// zoom: none;
				}
            }
        }
    }
    .cat {
        margin: 1em 0 1.5em;
    }
    .category {
        display: inline-block;
        margin: 0 1em 0 0;
        text-transform: capitalize;
        color: $color_19;
        .cat-count {
            color: transparent;
            //Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
            transition: color .2s ease-in-out;
        }
        &:hover .cat-count {
            color: $color_19;
            //Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
            transition: color .2s ease-in-out;
        }
    }
    .trove-poster {
        border-top: 2px solid #5D536B;
        background: $color_21 url("../img/portfolio/trove/poster.gif") no-repeat 50% 50%;
        background-size: cover;
        margin-bottom: 20px;
        top: -3em;
        position: relative;
        width: 100%;
        text-align: center;
        padding: 3em 0;
        h1 {
            font-family: $font_1, $font_2;
            font-weight: 200;
            font-size: 4em;
            margin: 30px auto 60px;
            color: $color_0;
            max-width: 510px;
            line-height: 1.15em;
            //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
            text-shadow: 0 1px 2px $color_14;
        }
        .skeleton {
            background-color: transparent;
            border: 1px solid $color_0;
            padding: 20px 70px;
            color: $color_0;
            text-transform: uppercase;
            font-size: .8em;
            font-weight: 500;
            letter-spacing: 1px;
            //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
            border-radius: 4px;
            //Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
            transition: background-color .2s ease-in-out;
            margin-bottom: 30px;
            &:hover {
                background-color: $color_7;
                text-decoration: none;
            }
        }
    }
    .trove-poster>* {
        animation: fadein 1s 1;
    }
    .preview {
        position: relative;
        cursor: pointer;
        float: left;
        padding-right: 5px;
    }
    .thumb {
        width: 100%;
    }
    .play {
        position: absolute;
        left: 10px;
        bottom: 10px;
    }
    &.resources {
        h3 {
            border-bottom: $color_19 solid 1px;
            clear: both;
            line-height: 1.4em;
            padding-top: 1em;
            span {
                color: #808080;
                font-size: 12px;
                font-style: italic;
                float: right;
                line-height: 1.25em;
                padding-top: 1.55em;
            }
        }
        dl {
            width: 33.3333%;
            float: left;
            padding-right: 2%;
            &:last-child {
                padding-bottom: 3em;
            }
            a {
                font-size: 1em;
                line-height: 1.25em;
                &:link {
                    color: $color_22;
                }
                &:visited {
                    color: $color_22;
                }
                &:hover {
                    text-decoration: none;
                    color: $orange;
                }
            }
        }
        dt {
            padding: 6px 0;
            font-weight: 500;
            color: $teal;
            border-bottom: $color_19 double 4px;
        }
        dd {
            line-height: 1em;
            padding: .5em 0 .125em;
            p {
                font-size: .8em;
                color: #808080;
                padding: 5px 0 0;
                margin: 0 0 6px;
                line-height: 1.25em;
            }
        }
    }
    &.about p {
        margin: .6em 0 0;
        padding: 0;
    }
}
@media(max-width:600px) {
    article.resources dl {
        width: 100%;
    }
}
p {
    font-size: 18px;
    font-size: 1.2rem;
    line-height: 1.27778;
    line-height: 1.6em;
}
ol {
    padding-left: 0;
    li {
        @extend %extend_2;
    }
}
ul {
    padding-left: 0;
    li {
        @extend %extend_2;
    }
}
blockquote {
    border-left: 5px solid $color_19;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

@-webkit-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.content {
    -webkit-animation: fadeIn 1s 1;
       -moz-animation: fadeIn 1s 1;
        -ms-animation: fadeIn 1s 1;
         -o-animation: fadeIn 1s 1;
            animation: fadeIn 1s 1;

    .more {
        //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
        border-radius: 3px;
        font-size: 14px;
        font-size: .93333rem;
        line-height: 1.64286;
        line-height: 2.2em;
        text-decoration: none;
        padding: 0 .8em;
        border: 1px solid $teal;
        color: $teal;
        background-color: transparent;
        display: table;
        margin: 1.5em 0 0;
        width: auto;
        text-align: left;
    }
    h2 {
        @extend %extend_3;
    }
}
h1 {
    @extend %extend_3;
}
h3 {
    font-size: 22px;
    font-size: 1.46667rem;
    line-height: 1.04545;
}
.date {
    font-size: 15px;
    font-size: 1rem;
    line-height: 1.53333;
}
.paging {
    margin-top: 5em;
    .more {
        //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
        border-radius: 3px;
        font-size: 18px;
        font-size: 1.2rem;
        line-height: 1.27778;
        line-height: 2.8em;
        text-decoration: none;
        padding: 0 2em;
        margin: 0 auto;
        display: block;
        //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        text-shadow: none;
        font-style: italic;
        background-color: transparent;
        border: 1px dotted $color_23;
        color: $color_6;
        text-align: center;
        &:hover {
            background-color: transparent;
            border: 1px dotted $teal;
            color: $teal;
            text-decoration: none;
        }
    }
}
.page-foot>a {
    float: left;
    margin: 0 1em 0 0;
    text-align: left;

    @media screen and (max-width: 540px) {
       margin: 0 10px 0 0;
    }
}

@media only screen and (min-width:30em) {
    .wrapper {
        padding: 0;
        overflow: hidden;
    }
}
.header-wrapper .page-head {
    background-color: $color_5;
    .menu-btn .burger-bar {
        background-color: $color_4;
        //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        text-shadow: transparent 0 0 0;
    }
}


// Print styles
// @media print {font-size: .5em;}


@page {
    margin: 0.5cm;
}
