// Portfolio styles
// Override all other stylesheets except _syntax-highlighting.scss

// To do: make this only load on blog and post pages

.hello-ideo {
    background-color: #fff;
    background-color: rgba(255,255,255,.95);
    padding: 20px;
    border-bottom: 1px solid #ddd;
    position: fixed;
    width: 100%;
    z-index: 1;

    .ideo-logo {
        width: 285px;
        height: 36px;
        background-image: url(../assets/img/portfolio/ideo/ideo-logo.png);
        display: block;
        text-indent: -9999px;
        white-space: nowrap;
        overflow: hidden;
        background-repeat: no-repeat;
        @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
            background-image: url(../assets/img/portfolio/ideo/ideo-logo@2x.png);
            -webkit-background-size: 285px 36px;
            -moz-background-size: 285px 36px;
            -o-background-size: 285px 36px;
            background-size: 285px 36px;
        }
    }

    .ideo-welcome {
        margin-top: .5em;
    }

}

#ideo-spacer {
    height: 136px;
}

.portfolio-index-content {
    padding: 20px;
    max-width: 650px;
    margin: 0px auto;

    -webkit-animation: fadeIn 1s 1;
       -moz-animation: fadeIn 1s 1;
        -ms-animation: fadeIn 1s 1;
         -o-animation: fadeIn 1s 1;
            animation: fadeIn 1s 1;
}

// Portfolio index
.post-list {
    margin-top: 50px;
    list-style: none;

    .post-thumb {
        display: block;
        position: relative;
        height: 380px;
        background-color: #f0f0f0;
        margin-bottom: 20px;
        background-size: 100%;

        -webkit-transition:background-size .15s ease-out;
        -moz-transition:background-size .15s ease-out;
        -o-transition:background-size .15s ease-out;
        transition:background-size .15s ease-out;

        // center the images in the back of the thumbs
        background-position: 43% 40%;
        background-repeat: no-repeat;

        // small screens
        @media screen and (max-width: 580px) {
            height: 200px;
        }

        &:hover {
            background-size: 105%;

            .post-link {
                text-decoration: underline;
            }

        }

        &.socialcode-intelligence-thumb {
            background-image: url(../assets/img/portfolio/socialcode/thumb.png);
        }

        &.trove-conversations-thumb {
            background-image: url(../assets/img/portfolio/conversations/thumb.png);
        }

        &.trove-profiles-thumb {
            background-image: url(../assets/img/portfolio/profiles/thumb.png);
        }

        &.trove-stars-thumb {
            background-image: url(../assets/img/portfolio/stars/thumb.png);
        }

        &.tinker-thumb {
            background-image: url(../assets/img/portfolio/micardi-illustration.png);
        }

        &.ga-thumb {
            background-image: url(../assets/img/portfolio/ga/ga-logo.png);
            background-size: 29%;
            background-position: 50% 69%;
        }

        &.ifttt-thumb {
            background-image: url(../assets/img/portfolio/ifttt/erlenmeyer-flask.png);
            background-size: 29%;
            background-position: 50% 69%;
        }

        &.miniputt-thumb {
            background-image: url(../assets/img/portfolio/miniputt-thumb.png);
            background-position: 10px -10px;
        }

        &.soon-thumb {
            background-image: url(../assets/img/portfolio/soon.png);
            background-repeat: repeat;
            background-position: 0 0;
            background-size: inherit;

            -webkit-transition:background-position .2s ease-out;
            -moz-transition:background-position .2s ease-out;
            -o-transition:background-position .2s ease-out;
            transition:background-position .2s ease-out;

            &:hover {
                -webkit-transition:background-position 10s ease-out;
                -moz-transition:background-position 10s ease-out;
                -o-transition:background-position 10s ease-out;
                transition:background-position 10s ease-out;

                background-position: 2000px 2000px;
                background-size: inherit;
            }

        }

        .post-link {
            display: block;
            width: 100%;
            position: absolute;
            top: 40%;
            text-align: center;
            font-size: 1.8rem;
            line-height: 1.25em;
            font-weight: 900;
            text-transform: uppercase;

            // big screeens
            @media screen and (min-width: 580px) {
                font-size: 58px;
            }

            .post-sublink {
                font-size: .5em;
                opacity: .5;
                display: inline-block;
            }

            &.socialcode {
                color: white;
                background-color: #5E9DE6;
                padding: 17px 0 6px;
                line-height: 0.7em;

            }

            &.trove {
                color: white;
                background-color: #9966DD;
                padding: 3px 4px 0;
            }

            &.ga {
                color: #E52123;
            }

            &.littletinker {
                color: black;
                border: 15px solid #FFE200;
                padding: 4px 0 0;
            }

            &.ifttt {
                color: dodgerblue;
                top: 14%;

                // KERNING :)
                .character-1 {
                    letter-spacing: -.06em;
                }
                .character-2 {
                    letter-spacing: .018em;
                }
                .character-3 {
                    letter-spacing: .05em;
                }
                .character-4 {
                    letter-spacing: .05em;
                }
            }

            &.miniputt {
                background-color: rgb(51, 102, 204);
                color: white;
                padding-bottom: 10px;
                top: 35%;

                .subheading {
                    display: block;
                    width: 100%;
                    text-align: center;
                    font-size: 30px;
                    line-height: 24px;
                    font-weight: 700;
                    letter-spacing: .035em;
                }

            }

        }

    }

}

.post {
    font-size: 1.25em;
    line-height: 1.5em;

    .row {
        width: 80%;
        max-width: 1200px;
        margin: 0 auto;
        padding-top: 40px;
        display: block;
        clear: both;

        @media screen and (max-width: 540px) {
            font-size: .9em;
        }

        &.role {
            padding-top: 0;
        }

        &.hero {
            width: 100%;
            max-width: 999999px;
            height: 400px;
            margin: 0 0 10px 0;
            background-color: #eee;
            box-shadow: inset 0 -2px 2px 0px rgba(0, 0, 0, 0.1);
            background-attachment: fixed;
            background-repeat: no-repeat;

            @media screen and (max-width: 540px) {
                height: 250px;
                background-size: 130%;
            }

            &.trove-profile-hero {
                background-image: url(../assets/img/portfolio/profiles/thumb.png);
                background-position: 40% 0;
            }

            &.trove-conversations-hero {
                background-image: url(../assets/img/portfolio/conversations/thumb.png);
                background-position: 40% 0;
            }

            &.trove-stars-hero {
                background-image: url(../assets/img/portfolio/stars/thumb.png);
                background-position: 40% 0;
            }

            &.ifttt-hero {

                font-size: 4em;
                color: dodgerblue;
                font-weight: 900;
                width: 100%;
                text-align: center;
                padding-top: 50px;

                @media screen and (max-width: 540px) {
                    font-size: 50px;
                    background-size: 130%;
                }


                // KERNING :)
                .character-1 {
                    letter-spacing: -.06em;
                }
                .character-2 {
                    letter-spacing: .018em;
                }
                .character-3 {
                    letter-spacing: .05em;
                }
                .character-4 {
                    letter-spacing: .05em;
                }

                .erlenmeyer-flask {
                    width: 220px;
                    margin-top: 15px;

                    @media screen and (max-width: 540px) {
                        width: 100px;
                        margin-top: 10px;
                    }

                }
            }

        }

        &.next {
            width: 100%;
            max-width: 999999px;
            margin: 100px 0 0;
            float: left;
            padding: 20px 10px 40px;

            .post-list {
                margin-top: 20px;
            }

            h2 {
                width: 100%;
                text-align: center;
                font-size: 1.2em;
                color: #888;
            }

            .next-column {
                width: 50%;
                float: left;
                padding: 0 20px;
                min-width: 260px;
                @media screen and (max-width: 1200px) {
                    width: 100%;
                }
            }
            .post-thumb {
                margin-bottom: 0;
                background-size: 85%;

                &:hover {
                    background-size: 95%;
                }
            }

        }

        .label-column {
            float: left;
            min-width: 150px;
            text-transform: lowercase;
            color: #aaa;
            letter-spacing: 1px;
            font-size: .8em;
            padding-right: 20px;
            text-align: right;
            font-weight: 500;

            @media screen and (max-width: 840px) {
                min-width: 210px;
                text-align: left;
            }

        }

        .content-column {
            width: 75%;
            float: left;
            min-width: 200px;

            @media screen and (max-width: 840px) {
                width: 100%;
            }

            a {
                color: $teal;
            }

            blockquote {
                font-style: italic;
                text-indent: -6px;
                margin: 20px 50px 0;
                padding: 0;
                border-left: none;
                text-align: justify;
                line-height: 1.5em;

                @media screen and (max-width: 540px) {
                    padding: 0;
                    margin: 20px 10px;
                    text-align: left;

                }
            }

            video, iframe {
                width: 100%;
            }

            .youtube-container {
                width: 100%;
            }

            .invision-wrapper {
                width: 438px;
                height: 870px;
                float: left;
                @media screen and (max-width: 1460px) {
                    width: 258px !important;
                    height: 522px !important;
                    overflow: hidden;
                }

                .invision {
                    float: left;
                    width: 430px;
                    @media screen and (max-width: 1460px) {

                        -ms-zoom: 0.6;
                        -moz-transform: scale(0.6);
                        -moz-transform-origin: 0 0;
                        -o-transform: scale(0.6);
                        -o-transform-origin: 0 0;
                        -webkit-transform: scale(0.6);
                        -webkit-transform-origin: 0 0;

                        transform: scale(0.6);
                        transform-origin: 0 0;
                    }
                }

            }


            .thumb-row {
                width: 100%;
                display: block;
                float: left;
            }

            .mockup-thumb {
                float: left;
                margin: 0 20px 20px 0;
            }

            .shadow {
                box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
            }

            .pull-pic {
                float: left;
                margin: 20px 0 10px 0;
                position: relative;
                left: -30px;
                width: 38.1966011%;

                @media screen and (max-width: 800px) {
                    margin: 20px 0;
                    position: relative;
                    left: 0;
                    width: 100%;
                }
            }
        }

    // end .row
    }

// end .post
}




.lightbox-image {
    position: relative;
    display: block;
}

// make a pretty little arrow icon after all images that can open in a lightbox
.lightbox-image:after {
    position: absolute;
    display: block;
    height: 50px;
    width: 50px;
    left: 10px;
    bottom: 10px;
    content: url(../assets/img/portfolio/expand-arrow.png);
    background-color: black;
    background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
    opacity: .25;
    transition: opacity .3s;
    &:hover {
        cursor: pointer;
    }
}

.lightbox-image:hover:after {
    opacity: 1;
}
