/*
Fancy Resume / CV
Created: 02/02/2010
By: Catalin Pinte
Contact Info: pinte_catalin@yahoo.com
*/

/* RESET CSS */
* { margin:0; padding:0; outline:0; border:0; }

body {
    background: #a3a8ad url(../img/background-1.png) 0 0 repeat-x;
    background-attachment:fixed;
    font:14px/24px Arial,Helvetica,sans-serif;
    color:#333;
}

#main { width:1020px; margin:auto;  position:relative;  top:20px;  }

h1, h2, h3, h4, h5, h6 { margin:0 10px 10px 0; color:#333; }
h1 { font-size:44px; padding-top:5px;  }
h2 { font-size:25px;color:#333;  }
h3 { font-size:20px; font-style:italic;  margin-top:0; color:#173D5F; }
h4 { font-size:16px; font-weight:normal; }
h5 { font-size:14px; margin-left:10px; display:inline; background:#2F597F; color:#fff;  width:150px; text-align:center; padding: 3px 10px 3px 10px; font-weight:normal; line-height:26px; clear:right;     }
h5:hover{ background:#173D5E;  }

h6 { line-height:1em; clear:both; font-size:13px; font-weight:bold; font-weight:bold; text-align:left; margin:0; padding:0; }

a { color:#333; text-decoration:none; }
.hr {margin-top:0; padding-top:0; background: url(../img/separator.png) 0 0 repeat-x; height:2px; margin-bottom:32px;}

/* CONTENT */

#top-content { background:url(../img/top-content.png) 0 0 no-repeat; min-height:270px; width:886px; padding:67px 67px 9px 67px; margin-bottom:0; display:inline-block;}
#top-content .photo-holder {  padding:10px 10px 4px 10px; background:#f6f6f6; border:solid 1px #d5d5d5; margin-bottom:18px; }
/* IE7 Fix */ *:first-child+html #top-content .photo-holder { padding-bottom:10px; }
#top-content .photo-shaddow { background:url(../img/shaddow.png) no-repeat scroll -2px 100% transparent; width:auto; height:auto; float:left; margin:0 35px 12px 0; overflow:visible;   }

#top-content .top-description { font-family: Arial, Helvetica, sans-serif; font-size:19px; font-weight:normal; margin-top:10px; margin-bottom:15px; }

#top-content .info { margin: 0; }

#top-content .address { background: url(../img/icons-sprite.png) 0 -473px no-repeat; display:block; overflow: hidden; padding:4px 0 0 35px; margin:0; }
#top-content .phone { background: url(../img/icons-sprite.png) 0 -62px no-repeat; display:block; overflow: hidden; padding:4px 0 0 35px; margin:0; }
#top-content .mail { background: url(../img/icons-sprite.png) 0 -562px no-repeat; display:block; overflow: hidden; padding:4px 0 0 35px; margin:0; }


/* azar's custom nav - begin */


#top-content .controls {
    position:absolute;
    top:77px;
    right:-1px;
    width: 344px;
}


#top-content .about { background: url(../img/icons-sprite.png) 0 -650px no-repeat; display:block; overflow: hidden; margin:0; }
#top-content .specialt { background: url(../img/icons-sprite.png) 0 -380px no-repeat; display:block; overflow: hidden; margin:0; }
#top-content .educa { background: url(../img/icons-sprite.png) 0 -239px no-repeat; display:block; overflow: hidden; margin:0; }
#top-content .link { background: url(../img/icons-sprite.png) 0 -728px no-repeat; display:block; overflow: hidden; margin:0; }
#top-content .mail-top { background: url(../img/icons-sprite.png) 0 -160px no-repeat; display:block; overflow: hidden; margin:0; }


#top-content .controls { list-style:none; margin-top:0; padding-top:0; height:35px;  }
#top-content .controls a { padding:13px; }
#tooltip{width:130px; height:45px; position:absolute; background:url(../img/tooltip.png) 0 0 no-repeat; display:table-cell;text-align:center; padding-top:15px; display:none;  font-weight:bold; font-size:12px;  z-index:2; }
/* IE7 Fix */ *:first-child+html   #tooltip{ margin-top:15px; }






#top-content .about, #top-content .specialt, #top-content .educa, #top-content .link, #top-content .mail-top { background: url(../img/icons-sprite.png) 0 0  no-repeat; height:35px; margin-left:10px;  display:inline; line-height:35px; padding:9px 1px 9px 1px; }

#top-content .about { background-position: -1px -650px; width:29px;  }


#main #middle-content .list li h5 .secondary-nav {


}


/* IE7 Fix */ *:first-child+html  #top-content .about { background-position: 0 -650px;  }
#top-content .specialt { background-position: 0 -392px; width:32px;  }
/* IE7 Fix */ *:first-child+html  #top-content .specialt { background-position: 0 -298px;  }
#top-content .educa { background-position: -1px -239px; width:35px;}
/* IE7 Fix */ *:first-child+html  #top-content .educa { background-position: 0 -145px; }
#top-content .link { background-position: -1px -728px; width:32px; }
/* IE7 Fix */ *:first-child+html  #top-content .link { background-position: 0 -378px; }
#top-content .mail-top { background-position: -1px -160px; width:32px; }
/* IE7 Fix */ *:first-child+html  #top-content .mail-top { background-position: 0 -378px; }

/* azar's custom nav - end */


#middle-content {
    background:url(../img/middle-content.png) 0 0 repeat-y;
    height:auto;
    width:885px;
    margin-top:0;
    padding-top: 0;
    padding-right: 67px;
    padding-bottom: 10px;
    padding-left: 68px;
}
#middle-content h3 { margin-top:0; float:left; margin-bottom:0; padding-bottom:0px; }
#middle-content .description{ clear:both; padding-top:10px; padding-bottom:0; margin-bottom:0; }




#middle-content ul.list {
    clear:both;
    list-style:none;
    position:relative;
    border-bottom:1px dashed #afafaf;
    margin-top: 30px;
    margin-right: 0;
    margin-bottom: 45px;
    margin-left: 0px;
}

#middle-content ul.list>li {
    display:block;
    border:1px dashed #afafaf;
    border-bottom:0;
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
    padding-left: 25px;
}
#middle-content ul.list li.arrow-up {
    top:-17px;
    background:transparent url(../img/arrow-up.png) 0 2px no-repeat;
    left:20px;
    width:100px;
    height:18px;
    padding:0;
    border:0;
    overflow:visible;
    position:absolute;
}


#middle-content ul.list ul, #middle-content ul.list  ol { margin-top:15px; }
#middle-content ul.list ul li { margin-left:17px; }
#middle-content ul.list ol li { margin-left:20px; }

#bottom-content { background:url(../img/bottom-content.png) 0 0 no-repeat; height:45px; width:1020px;   }

/* Contact Form */
.contact_success { margin:15px 0 0 0; padding:15px; width:555px; background:#69EF68; border:solid 1px green; font-size:1em; overflow:hidden; display:none; }
.contact_error { margin:15px 0 0 0; padding:15px; width:555px; background:#FF9F9F; border:solid 1px red; font-size:1em; overflow:hidden; display:none;  }

#contact { margin:15px 0 50px 0; width:100%; width:600px;}
#contact div{ width:285px; height:75px;  float:left; margin:10px 15px 5px 0; }

.contact-me {
    font-family: Helvetica, Arial, sans-serif;
    font-size: .8em;
    color: #173D5F;
    text-transform: uppercase;
    text-align: center;
}
.contact-me:hover {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    color: #333;
    text-transform: uppercase;
    text-align: center;
}


#contact p{ width:550px; clear:both; padding:10px 0 15px 0; }
#contact input.i-text{ width:265px; }
#contact input.i-text,
#contact textarea        { border:1px solid #CDCDCD; padding:5px; margin:8px 0 0 0; }
#contact input.i-text:focus,
#contact textarea:focus  { background:#ffc; }
#contact input.i-text.error,
#contact textarea.error { background:#FF9F9F; border:solid 1px red; }
#contact textarea        { font:.9em Verdana, Arial, Helvetica, sans-serif; width:575px; }
#contact label           { font-weight:700; font-size:13px; width:90px;  font-family:Arial, Helvetica, sans-serif;}
#contact label:after     {content:": ";}
#contact input.i-submit {  border:solid 1px #CDCDCD; background:#f0eaea; color:#333; padding:5px 10px 5px 10px; margin-top:10px;  }

font.error { clear:both; line-height:25px;  background: url(../img/icons-min.png) 0 2px no-repeat; padding-left: 20px; color:#222; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;  font-size:13px;  }
font.success {clear:both; line-height:25px; background: url(../img/icons-min.png) 0 -44px no-repeat; padding-left: 20px; color:#222; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size:13px;   }
#loading {  margin-left:15px; padding-left:22px; background:url(../img/ajax-loader.gif) 0 50% no-repeat;  display:none;  }


/* Get in touch icons */
#social { margin:0; padding:0; list-style:none; display:inline-block; margin-bottom:-2px; }
#social li { margin:0 0 0 20px; padding:0;  float:left; width:35px; height:35px; display:inline-block; }
#middle-content ul.list ul#social li { margin-left:0; margin-right:15px;  }
#middle-content ul.list ul#social { margin-top:0px; margin-bottom:-3px; }
#social a { display:block; padding:17px; margin:0; }
/* IE 6 Fix */  * html #social li{ margin:0 0 0 4px; width:35px; }
/* IE 7 Fix */  *:first-child+html #social li{ margin:0 0 0 1px; width:35px; }
#social #twitter{ background: url("../img/social-icons.png") 0 0 no-repeat; }
#social #blog{ background: url("../img/social-icons.png") -70px 0 no-repeat; }
#social #delicios{ background: url("../img/social-icons.png") -142px 0 no-repeat; }
#social #digg{ background: url("../img/social-icons.png") -215px 0 no-repeat;}
#social #facebook{ background: url("../img/social-icons.png") -286px 0 no-repeat; }
#social #flikr{ background: url("../img/social-icons.png") -358px 0 no-repeat; }
#social #myspace{ background: url("../img/social-icons.png") -431px 0 no-repeat; }
#social #RSS{ background: url("../img/social-icons.png") -494px 0 no-repeat;}
#main center p .footer {
    font-family: Helvetica, Arial, sans-serif;
    font-size: .9em;
    font-variant: normal;
    text-transform: uppercase;
}
.secondary-nav {
    font-family: Helvetica, Arial, sans-serif;
    font-size: .8em;
    color: #173D5F;
    text-transform: uppercase;
    text-align: center;
}
.secondary-nav:hover {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    color: #333;
    text-transform: uppercase;
    text-align: center;
}


#main #middle-content .list li .last-item {
    padding-top: 5px;
    padding-bottom: 5px;
}
